@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-bg{
    background-image: url(../public/banner.png);
}
.review-bg{
    background-image: url(../public/bg-img.png);
}
.login-bg{
    background-image: url(../public/login-bg.png);
}
.colleges-bg{
    background-image: url(../public/colleges-bg.png);
}